html, body {
    height: 100%;  /* Sørger for at kroppen tar hele høyden til vinduet */
    margin: 0;     /* Fjerner standardmarg */
    padding: 0;    /* Fjerner standardputting */
    font-family: 'Noto Sans Display', sans-serif;
    background-color: #ddd;
}

header, footer {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header {
    top: 0;
    height: 7.5%;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header nav {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.nav-item {
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;  /* Prevents the text from spilling out */
    white-space: nowrap;  /* Keeps the text in a single line */
    text-overflow: ellipsis;  /* Adds ellipsis if the text overflows */
    color: rgb(110, 110, 110);
    font-size: .8rem;
}

footer nav a {
    color: white;
}

main {
    height: auto;
    top: 7.5%;
    bottom: 10%;
    width: 100%;
    position: absolute;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

main section {
    display: none;
    width: 90%;
    grid-gap: 1rem;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

footer {
    bottom: 0;
    height: 10%;
    background-color: rgb(245, 245, 245); /* Enda mørkere grå for å visualisere footeren */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer nav {
    width: 100%;
    height: 80%;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.selected-page {
    color: black;
    transition: background-color 0.5s ease-in;
}

#logo {
    text-align: left;
    color: #e32d22;
    font-size: 1.5rem;
    align-items: center;
    display: flex;
    padding-left: 1rem;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#my-profile {
    display: grid;
    grid-column: 2;
}

#my-profile-container {
    display: none;
    margin: auto;
}

#my-profile-logo {
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
    font-size: 1.5rem;
}