#add-post-btn {
    position: fixed;
    bottom: 11.5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: .5rem;
    display: none;
    background-color: #e32d22;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    width: 4rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensures the button is above other content */
}

#posts-container {
    display: grid;
    grid-gap: 1.35rem;
}

.posts-element {
    display: grid;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.posts-element div {
    padding-left: .7rem;
    padding-right: .7rem;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

#posts-container div .post-user {
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: .7rem;
    padding-bottom: .7rem;
    background-color: white;
}

.post-content {
    font-size: 1.1rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
}

.post-date {
    font-size: .8rem;
    margin-bottom: .7rem;
}

.post-time {
    font-size: 1.2rem;
}