.min_side_main {
    display: flex;
}

main section {
    width: 90%;
    height: 93%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    padding-top: 0;
    padding-bottom: 0;
    grid-gap: 1rem;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#logout-btn {
    border-radius: .5rem;
    background-color: #ededed;
    border: none;
    border-radius: none;
    color: black;
    width: 100%;
    font-size: 2.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.administrate-btn-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

#administrate-btn {
    display: none;
    border-radius: .5rem;
    grid-row: 2;
    background-color: #e32d22;
    color: white;
    border: none;
    width: 100%;
    font-size: 1.6rem;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#administrate-btn-content {
    margin: auto;
}

.user_info_container {
    display: grid;
}

#full_name {
    font-size: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

#availability {
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    justify-content: center;
    align-items: center;
    display: flex;
}

#availability-status {
    font-size: 1rem;
    border-radius: none;
    background-color: #ededed;
    border: .3rem #ededed;
    box-sizing: border-box;
    width: 100%;
    color: black;
    border-radius: .5rem;
    padding-left: .5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#availability-status:focus {
    outline: none;
}

.status {
    display: grid;
    justify-content: center;
    font-size: 1.5rem;
}