main section {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 1rem;
}

#logout-btn {
    border-radius: .5rem;
    background-color: #ededed;
    border: none;
    border-radius: none;
    color: black;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#administrate-btn {
    display: none;
    border-radius: .5rem;
    background-color: #e32d22;
    color: white;
    border: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 100%;
    font-size: 1.5rem;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#administrate-btn-content {
    margin: auto;
}

.user_info_container {
    display: grid;
    grid-template-rows: 1.3fr 1fr;
    background-color: #ededed;
    border-radius: .5rem;
    height: 7.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#full_name_title, #availability_title {
    padding-left: 1rem;
    padding-right: 1rem;
}

#full_name_title {
    font-size: 1.5rem;
    display: grid;
    align-items: center;
    font-weight: bold;
    border-bottom: solid rgb(127, 127, 127) .5px;
}

#availability_title {
    font-size: 1.2rem;
    display: grid;
    align-items: center;
}

#availability-status {
    font-size: 1.5rem;
    border-radius: none;
    background-color: #ededed;
    border: .3rem #ededed;
    box-sizing: border-box;
    width: 100%;
    color: black;
    border-radius: .5rem;
    padding-left: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#availability-status:focus {
    outline: none;
}

.status {
    display: grid;
    justify-content: center;
    font-size: 1.5rem;
}

#notify-button {
    border-radius: .5rem;
    display: grid;
    color: green;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}